<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <button onclick="show()">ok</button>
    <script>
        var ws = new WebSocket("ws://localhost:8080/ws");
        var msg = '';
        ws.onopen = function () {
            console.log("连接成功");
        };
        ws.onmessage = function (e) {
            console.log(e.data);
        };
        ws.onclose = function (evt) {
            console.log("Connection closed.");
        };

        function show() {
            ws.send("1");
        }
    </script>
</body>

</html>